/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* Home */
#home{
    height: 370px;
    padding: 3px 68px;
}

#home::before{
    height: 480px;
}

#home p{
    font-size: 13px;
}

/* Services-section */
#services{
    flex-direction: column;
}

#services .box{

}

/* Client-section */
#clients{
    overflow: hidden;
}

/* Contact-us section */

/* Footer */

/* Utility Classes */
.h-primary{
    font-size: 26px;
}